.cointitle{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.coinname{
    font-weight: bold;
    margin-bottom: 0px;
}

.cointitle img{
    width:30px;
    height:30px;
    margin-right: 10px;
    margin-bottom:5px;
}

.coinsymbol{
    color:#8c8c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 13px;
}

.time{
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    color:#8c8c8c;
    font-size: 10px;
    margin-right: 10px;
}

.font-weight{
    font-weight: bold;
    margin-right: 2px;
}

.price{
    font-weight: bold;
}

.infoset{
    display: flex;
    justify-content: flex-start;
}

.priceusd{
    display: flex;
    font-weight: bold;
    height: 30px;
}

.pricechange{
    margin-left: 20px;
}

input{
    width: 250px;
    margin-right: 20px;
}

button{
    margin-right: 5px;
}