.investlistdata{
    border-bottom: 4px dashed #005266;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    padding-left: 30px;
    width:100%;
    
}

.investlistdata p{
    margin-top:15px;
    margin-bottom:15px;
    /* margin-left: 70px;
    margin-right: 61px; */
}

.investcoin{
   width: 150px;
   margin-left: 0px;
   margin-right:25px;
 
}

.yesinvestlist{
    width:77%;
    margin-left: auto;
    margin-right:auto;
}