.header p {
    background-color: #236AB9;
    height: 8vh;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.websitename{
    font: small-caps bold 31px/1 sans-serif;
    margin: 0;
}